# Exclude source files and build scripts
/src/
/scripts/

# Exclude example source files
/rating-star-example/

# Exclude development dependencies and test files
/dev/
/test/
/node_modules/

# Exclude editor and IDE-specific files
.vscode/
.idea/